.landing-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 1.7rem;
  background-color: #ffffff;
  width: 90vw;
  height: 92vh;
  border-radius: 12px;
  align-self: center;
  overflow: hidden;
}

.landing-left-view {
  flex: 30%;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #2b5876;
}
.landing-right-view {
  flex: 70%;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.landing-header {
  text-align: center;
  color: #ffffff;
  font-size: 1.4rem;
}

.landing-body {
  text-align: center;
  line-height: 2;
  color: #ffffff;
  margin-inline: 0.7rem;
}

.landing-bot-view-text {
  text-align: center;
  color: #514a9d;
  margin-inline: 0.65rem;
}

#close-btn-home {
  margin-bottom: 1rem;
}

/* styles for safari mob */
@supports (-webkit-touch-callout: none) {
  #counter-page-btn {
    border: none;
    -webkit-appearance: none;
  }
  .landing-container {
    width: 90vw;
    height: 80vh;
  }
}

@media only screen and (min-width: 320px) {
  .landing-container {
    flex-direction: column;
  }
}

@media only screen and (min-width: 480px) {
  .landing-container {
    flex-direction: column;
  }
}

@media only screen and (min-width: 768px) {
  .landing-container {
    flex-direction: column;
  }
}

@media only screen and (min-width: 992px) {
  .landing-container {
    flex-direction: row;
  }
}

@media only screen and (min-width: 1200px) {
  .landing-container {
    flex-direction: row;
  }
}
