.home-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 1.7rem;
  background-color: #ffffff;
  width: 90vw;
  height: 92vh;
  align-self: center;
  overflow: hidden;
}

.home-counter {
  font-size: 4em;
  color: #1f618d;
  font-weight: 900;
}

.home-content-container {
  display: flex;
  flex-direction: column;
  background-color: white;
  align-items: center;
  justify-content: center;
  padding: 8rem;
  margin-inline: 4rem;
}

.home-counter-section-container {
  display: flex;
  align-items: center;
}

.home-bot-view {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-inline: 2rem;
}

.home-counter-container {
  width: 8rem;
  height: 6rem;
  border-radius: 0.6rem/0.8rem;
  background-color: #d7dbdd;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-inline: 1rem;
}

#action-btn-home {
  background: #1f618d;
  width: 4rem;
  height: 4rem;
  border-radius: 0.6rem/0.8rem;
  font-size: 1.9em;
  line-height: 1.4;
}

#action-btn-home:hover {
  animation: pulse 0.3s;
  box-shadow: 0px 0px 3px #59b6e9;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 var(--hover);
  }
}

#close-btn-home {
  background-color: #ff0000;
  padding-inline: 4rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.home-bot-note {
  color: #1c2833;
  font-size: 0.9em;
  text-align: center;
}

/* styles for safari mob */
@supports (-webkit-touch-callout: none) {
  #close-btn-home {
    border: none;
    -webkit-appearance: none;
  }
  #action-btn-home {
    border: none;
    -webkit-appearance: none;
    margin-right: 1rem;
    margin-left: 1rem;
    padding-left: 1rem;
  }
  .home-container {
    width: 90vw;
    height: 80vh;
  }
}
